{% extends "index.html" %}
{% block title %}About{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

{{ super() }}



<div class="row">
<div class="col-sm-6 col-md-6 col-xs-6">

              <div class="thumbnail" style="border:none; background:white; height:210px;">

              <div class="col-sm-6 col-md-6 col-xs-6">
                <img src="{{ url_for('static', filename='img/myself.png') }}" style="height:200px; margin-left:-15px;" />
              </div>

              <div class="col-sm-6 col-md-6 col-xs-6">


                 <p style="font-size:18px; color:#03225C;"> My name is Edward Montooth. I have just finished my junior year at the University of Delaware. I am majoring in Management Information Systems and minoring in business analytics. This project taught me lots of new skills and will be very helpful in the future.   </p>
              </div>
              </div>

 </div>
</div>

{% endblock %}
