{% extends "index.html" %}
{% block title %}Home Page{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}
{{ super() }}







<div class="container" id="homepageguy">
<h1 class="mt-5" id="bigtitle" style="font-family: 'Roboto', sans-serif; color: black;">Welcome to MovieBase!</h1>
<p style="color:black;">MovieBase is a web application developed by Edward Montooth which allows a user to track and update a listing of their favorite movies and producers.
</p>

</div>


{% endblock%}
