{% extends "index.html" %}
{% block title %}Home Page of MovieBase{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}
{{ super() }}


<div id="bs">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>MovieBase</h1>
      </div>
      <div class="col">
        <p>MovieBase is a web application developed by Edward Montooth which allows a user to track and update a listing of their favorite movies and producers.</p>
      </div>
    </div>
</div>
</div>
{% endblock%}
