{% extends "index.html" %}
{% block title %}Home Page{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}
{{ super() }}







<div class="container" id="homepageguy">

    <h1  class="mt-5" id="bigtitle"><i  aria-hidden="true"></i> Welcome to MovieBase!</h1>
    <p style="color:Green; font-size:20px;">MovieBase is a web application developed by Edward Montooth which allows a user to track and update a listing of their favorite movies and producers.</p>
  </div>


{% endblock%}
